html, body {
    width: 100%;
    background: #3f3f3f;
    font-family: 'Roboto', serif;
    color: rgb(51, 51, 51);
}

footer {
    color: black;
    font-size: 12px !important;
}

/*Content*/
#content {
    background: #5f5f5f;
    min-height: 565px;
}

/*Bootstrap override*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}