@(message: String)

@additionalStyles = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/home.css")">
}

@main("Team fEMR", styles = additionalStyles) {

    <div id="content_header">
        <img src="@routes.Assets.at("images/Logo/logo_color.png")" alt="Logo" id="home_logo">
        <a href="http://www.femr.teamfemr.org" class="goButton" id="home_useBtn">fEMR</a>
    </div>
    <div class="content_about" id="content_general">
        <div class="intro">
            <h1>A fast EMR solution for transient medical teams.</h1>
            <p>Designed to run on any device with a web browser.</p>
        </div>
        <div class="content_sections">

            <div class="deviceExample">
                <p>Tablet</p>
                <a href= "@routes.Assets.at("images/EMR/iPad_portrait_pharmacy.jpg")">
                    <img src="@routes.Assets.at("images/EMR/iPad_portrait_pharmacy.jpg")" alt="iPad" width="222" height="296" />
                </a>
            </div>
            <div class="deviceExample">
                <p>Computer</p>
                <a href= "@routes.Assets.at("images/EMR/computer_medical.PNG")">
                    <img src="@routes.Assets.at("images/EMR/computer_medical.PNG")" alt="computer" width="400" height="296" />
                </a>
            </div>
            <div class="deviceExample">
                <p>Smartphone</p>
                <a href= "@routes.Assets.at("images/EMR/smartphone_portrait_triage.png")">
                    <img src="@routes.Assets.at("images/EMR/smartphone_portrait_triage.png")" alt="smartphone" width="167" height="296" />
                </a>
            </div>

        </div>
        <a href="#" class="goButton" id="home_learnBtn">Learn More</a>

    </div>
    <div class="content_about" id="content_tech">
        <div class="intro">
            <h1>Free and open source.</h1>
            <p>Hosted on GitHub.</p>
        </div>

        @*<div class="content_sections">
        <div class="deviceExample">
        <p>Play!</p>
        </div>
        <div class="deviceExample">
        <p>MySQL</p>
        </div>
        <div class="deviceExample">
        <p>GitHub</p>
        </div>
        </div>*@
        <a href="https://github.com/femr/femr" class="goButton" id="home_repoBtn">Repo</a>
    </div>

}
